//
//  PreSniffObjcDemo.release.xcconfig
//  PreSniffObjcDemo
//
//  Created by WangSiyu on 15/05/2017.
//  Copyright © 2017 pre-engineering. All rights reserved.
//

HEADER_SEARCH_PATHS = $(inherited) "../PreSniffObjc"
OTHER_LDFLAGS = $(inherited) -framework CrashReporter -framework AssetsLibrary -framework CoreTelephony -framework CoreText -framework CoreGraphics -framework Foundation -framework MobileCoreServices -framework Photos -framework QuartzCore -framework QuickLook -framework Security -framework SystemConfiguration -framework UIKit -lc++ -lz
FRAMEWORK_SEARCH_PATHS = $(inherited) "../PreSniffObjc/Vendor/"
